/* import local font  */
@font-face {
  font-family: 'Cairo Play Medium';
  src: url('./assests/fonts/CairoPlay-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Cairo Play Medium', cursive;
  background: #f5f5f5;
}